<div class="todo">

	<input type="checkbox"
		   id="{{ 'todoToggler-' + todoData['id'] }}"
		   name="{{ 'todoToggler-' + todoData['id'] }}"
		   [(ngModel)]="isCompleted"
		   title="Complete task"
		   class="hidden-checkbox"
	> <br>

	<button class="fa visible-checkbox"
			[ngClass]="{
				'fa-circle-o': !isCompleted,
				'fa-check-circle': isCompleted
			}"
			title="Complete task"
			(click)="changeTodoStatus()"
	></button>

	<span class="todo-text dashboard-item-text">
		{{ todoData['text'] }}
	</span>

	<button (click)="removeTodo()" class="fa fa-times remove-btn"></button>

</div>
