.app-button {

	display: block;

	padding: 10px 15px;
	margin: 15px 0;

	cursor: pointer;

	&.-inline {

	}
}

.close-button {
	border: 0;

	background: none;
	color: $disabled-color;

	position: absolute;
	top: 10px;
	left: 10px;

	cursor: pointer;
}

.remove-btn {
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);

	background: none;
	color: darken($disabled-color, 10%);

	border: 0;

	cursor: pointer;

	@extend .push-btn;
}
