@mixin centeredFrom($minW: 661px, $minH: 650px) {
	@media screen and (min-width: $minW) {
		box-shadow: 0 0 10px 0 #959595;
		border-radius: 10px;
	}

	@media screen and (min-width: $minW) and (min-height: $minH) {
		@include centered;
	}
}

.form-container {
	width: 100%;
	max-width: 600px;
	min-width: 300px;

	padding: 35px;
	margin: 15px auto;

	animation: opacity 0.5s ease-in;

	.form-link,
	.form-submit,
	.form-input-container,
	.form-input-container .form-input,
	.form-input-container .form-label {
		width: 100%;

		display: block;
	}

	.form-submit,
	.form-input-container .form-label,
	.form-input-container .form-input {
		animation: flyTop 0.5s ease-in;
	}

	.form-submit,
	.form-input-container .form-input {
		border: 1px solid $disabled-color;
		border-radius: 50px;
	}

	.form-input-container .form-label {
		margin: 15px 0;

		color: #28305d;
		text-align: center;
	}

	.form-input-container .form-input {
		line-height: 36px;
		font-size: 1.1rem;

		padding: 0 20px;
	}

	.form-input-container {
		max-width: 400px;
		margin: 15px auto;
	}

	.form-title {
		margin-top: 0;

		color: $title-color;

		animation: opacity 1s ease-in;
	}

	.form-submit {
		max-width: 250px;
		height: 48px;

		padding: 0 15px;
		margin: 25px auto;

		font-size: 1.2rem;
		color: $title-color;

		cursor: pointer;

		&:disabled {
			color: $disabled-color;
		}

		@extend .push-btn;
	}

	.form-link {
		text-align: right;
		text-decoration: none;

		cursor: pointer;

		&,
		&:visited,
		&:active {
			color: $disabled-color;
		}
	}

	.form-input-error {
		color: $invalid-color;

		@include animateHeightMixin(50px);
		animation: animateHeight-50px 0.5s ease-in;
	}

	&:not(.-large) {
		@include centeredFrom();
	}
	&.-large {
		@include centeredFrom(661px, 1000px);
	}
}
