<form [formGroup]="signUpForm" novalidate class="form-container -large">

	<h1 class="form-title">Sign up</h1>

	<div class="form-input-container">
		<label for="firstName" class="form-label">First name</label>
		<input type="text" id="firstName" placeholder="First name"
			   name="firstName" formControlName="firstName" class="form-input"
		>
	</div>

	<div class="form-input-container">
		<label for="lastName" class="form-label">Last name</label>
		<input type="text" id="lastName" placeholder="Last name"
			   name="lastName" formControlName="lastName" class="form-input"
		>
	</div>

	<div class="form-input-container">
		<label for="email" class="form-label">Email</label>
		<input type="email" id="email" placeholder="Email"
			   name="email" formControlName="email" class="form-input"
		>
	</div>

	<div class="form-input-container">
		<label for="password" class="form-label">Password</label>
		<input type="password" id="password" placeholder="Password"
			   name="password" formControlName="password" class="form-input"
		>
	</div>

	<div class="form-input-container">
		<label for="passwordRepeat" class="form-label">Repeat password</label>
		<input type="password" id="passwordRepeat" placeholder="Repeat password"
			   name="passwordRepeat" formControlName="passwordRepeat" class="form-input"
		>
	</div>

	<div class="form-input-container">
		<label for="phoneNumber" class="form-label">Phone number</label>
		<input type="tel" id="phoneNumber" placeholder="Phone number" class="form-input"
			   name="phoneNumber" formControlName="phoneNumber"
		>
	</div>

	<h3>Birthday</h3>

	<div formGroupName="birthday" class="grid">
		<div class="form-input-container">
			<label for="birthdayYear" class="form-label">Year</label>
			<select name="birthdayYear" id="birthdayYear" formControlName="year" class="form-input">
				<option *ngFor="let year of birthdayParams.years.reverse()" [value]="year">{{ year }}</option>
			</select>
		</div>

		<div class="form-input-container">
			<label for="birthdayMonth" class="form-label">Month</label>
			<select name="birthdayMonth" id="birthdayMonth" formControlName="month" class="form-input">
				<option *ngFor="let month of birthdayParams.months" [value]="month">{{ month }}</option>
			</select>
		</div>

		<div class="form-input-container">
			<label for="birthdayDay" class="form-label">Day</label>
			<select name="birthdayDay" id="birthdayDay" formControlName="day" class="form-input">
				<option *ngFor="let day of birthdayParams.days" [value]="day">{{ day }}</option>
			</select>
		</div>
	</div>

	<app-spin-btn [isDisabled]="isDisabledSubmit()" type="submit"
				  classes="form-submit" (byClick)="submitForm()"
				  [spin]="processing"
	>
		Submit
	</app-spin-btn>

	<a routerLink="/auth/login" class="form-link">Already registered?</a>

</form>


