<section class="board-list dashboard" *ngIf="!boardCreationMode">

	<button class="app-button create-board-btn" (click)="enableBoardCreationMode()">
		Add board
	</button>

	<div *ngFor="let board of boards" class="board-item dashboard-item">
		<a [routerLink]="['/app/board/', board.id]"
		   [@flyInOut]="''" class="board-item-link"></a>

		<span class="boar-item-text dashboard-item-text">{{ board.name }}</span>

		<button class="fa fa-times remove-btn" (click)="removeBoard(board.id)"></button>

	</div>

</section>

<!--TODO: move it to separate component-->

<form [formGroup]="boardCreator" class="form-container board-creator" novalidate *ngIf="boardCreationMode">

	<button class="fa fa-times close-button" (click)="disableBoardCreationMode()"></button>

	<h1 class="form-title">Board creator</h1>

	<div class="form-input-container">
		<label for="boardName" class="form-label">Board name</label>
		<input type="text" id="boardName" placeholder="New todo board"
			   name="boardName" formControlName="boardName" class="form-input"
		>
	</div>

	<p class="form-input-error" *ngIf="boardCreator.errors">
		The field is required
	</p>

	<app-spin-btn classes="form-submit"
				  [isDisabled]="boardCreator.invalid"
				  [spin]="processing"
				  (byClick)="addNewBoard()">
		Submit
	</app-spin-btn>

</form>
