<form [formGroup]="signInForm" class="form-container" novalidate>

	<h1 class="form-title">Login</h1>

	<div class="form-input-container">
		<label for="email" class="form-label">Email</label>
		<input type="email" id="email" placeholder="example@email.com"
			   name="email" formControlName="email" class="form-input"
		>
	</div>

	<div class="form-input-container">
		<label for="password" class="form-label">Password</label>
		<input type="password" id="password" placeholder="•••••••••"
			   name="password" formControlName="password" class="form-input"
		>
	</div>

	<app-spin-btn [isDisabled]="isDisabledSubmit()" type="submit"
				  classes="form-submit" (byClick)="submitForm()"
				  [spin]="processing"
	>
		Login
	</app-spin-btn>

	<a routerLink="/auth/signup" class="form-link">Not registered?</a>

</form>
